body {
    margin: 0 auto;
    padding: 0;
    background: #222;
}

#gradient {
    background: #00ff3c;
    background-image: linear-gradient(#00a928 20%, #00a928 20%, #008b21 40%, #008b21 40%, #00a928 60%, #00a928 60%, #008b21 80%, #008b21 80%);
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    height: 150px;
}

#gradient:after {
    content: "";
    position: absolute;
    background: #E9E2D0;
    left: 50%;
    margin-top: -67.5px;
    margin-left: -270px;
    padding-left: 20px;
    border-radius: 5px;
    width: 520px;
    height: 275px;
    z-index: -1;
}

#card {
    position: absolute;
    width: 450px;
    height: 225px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 67.5px;
    margin-left: -250px;
    background: #E9E2D0;
    border-radius: 5px;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
}

#card img {
    width: 130px;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
    filter: sepia(1);
}

#card h2 {
    font-family: courier;
    color: #333;
    margin: 0 auto;
    padding: 0;
    font-size: 22px;
    height: 50px;
}

#card p {
    font-family: courier;
    color: #555;
    font-size: 18px;
}

.window_res {
    position: absolute;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 40px;
    margin-left: -115px;
}

#genButton {
    position: absolute;
    left: 33%;
    top: 260px;
    z-index: 6;
  }

  #clearButton {
    position: absolute;
    right: 33%;
    top: 260px;
    z-index: 6;
  }